{
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "env": {
    "node": true,
    "es2020": true
  },
  "rules": {
    "global-require": "off",
    "quote-props": ["warn", "consistent-as-needed"]
  },
  "extends": "eslint:recommended"
}
